@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

* {
    position: relative;
    /* width: 1440px;
    height: 3451px; */
    background: #FFFFFF;

}

a:hover {
    color: #E30C40;
}

.nav-bar {
    position: absolute;
    width: 94%;
    height: 65px;
    top: 70px;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
    border-radius: 18px;
}

.nav-icon {
    position: absolute;
    left: 3.5%;
    right: 0%;
    top: 20%;
}

.menu {
    float: right;
    top: 20%;
    margin-right: 3%;
    display: none;
}

.menu-group {
    display: inline-block;
    position: relative;
    left: 8%;
    top: 35%
}

.menu-titles {
    display: inline-block;
    margin-left: 52px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 11px;
    font-family: 'Inter', sans-serif;
    color: #000000;
    text-decoration: none;
}

.nav-btn {
    width: 85px;
    height: 42px;
    float: right;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    color: #E30C40;
    top: 14%;
    right: 3%;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}


.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size:
        50px;
    line-height: 70px;
    letter-spacing: 1.1px;
    color: #E30C40;
}

.footer-titles {
    font-size: 15px;
    display: inline-block;
    margin-left: 3%;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}



.first-paragraph {
    margin-top: 20px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 43px;
    /* or 167% */

    letter-spacing: 1px;

    color: #000000;
}

.second-paragraph {
    margin-top: 25px;


    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 26px;
    line-height: 34px;
    /* or 155% */

    letter-spacing: 0.1px;
}


.Bloger {
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}

.Bloger-img {
    flex: 48%
}

.Bloger-paragraph {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 43px;
    flex: 52%;
    margin-left: 3%;
    letter-spacing: 1px;

    color: #000000;
}


/* The check-container */
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 29px;
    width: 29.5px;
    background-color: #eee;
    border-radius: 50%;

}


/* When the checkbox is checked, add a red background */
.check-container input:checked~.checkmark {
    background-color: #E30C40;
}

.checkmark:after {
    content: "";
    position: absolute;
}



/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    /* border-radius: 100% 0% 0% 100%; */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media (max-width: 900px) {
    .Bloger {
        flex-direction: column;
    }

    .Bloger-img {
        width: 55vw;
        transform: translate(-50%);
        margin-left: 50%;
    }

    .Bloger-paragraph {
        margin-left: 0%;
        margin-top: 30px;
    }

    .menu-titles {
        display: none
    }

    .menu {
        display: block;
    }
}