main {
    margin: 121px 9.5vw 162px 8.5vw;
}


main h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #E30C40;
}

main h1 {
    margin-top: 13px;

    font-weight: 600;
    font-size: 39px;
    line-height: 50px;
}

main h2 {
    font-weight: 500;
    font-size: 39px;
    line-height: 47px;
    color: #E30C40;
}

main h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.1px;
}

main p {
    margin-top: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.first-section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}

.first-section .text-part {
    margin-bottom: 23px;
    flex: 52%;

}


.first-section .img-part {
    margin-top: -40px;
    flex: 48%;

}

.first-section .img-part img {
    float: right;

}

.first-section button {
    margin-top: 18px;
    background: #E30C40;
    border-radius: 8px;
    padding: 17px 29px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    margin-right: 12px;
}

.first-section button img {
    margin-top: -2px;
    background: transparent;
    padding-right: 8px;
}


.second-section {
    margin-top: 160px;
    display: flex;
    flex-direction: row;

}

.second-section .text-part {
    flex: 43%;
}


.second-section .img-part {
    flex: 57%;

}



/* input[type="text"] {
    width: 200px;
    height: 20px;
    padding-right: 50px;
}

input[type="submit"] {
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
} */

.second-section input[type="text"] {
    margin-top: 35px;
    border: 1px solid #C4C4C4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 220px;
    font-size: 12px;
    padding: 11px 18px;
}

.second-section input[type="submit"] {
    position: relative;
    z-index: 200;
    top: 5px;

    margin-left: -2%;
    
    height: 35px;
    width: 18%;
    background-color: #E30C40;
    color: white;
    font-size: 160%;
    border-radius: 0px 4px 4px 0px;
    border: none;
    -webkit-appearance: none;
}



@media (max-width: 1080px) {
    main {
        margin: 85px 14.2vw 162px 14.2vw;
    }




    main h6 {
        font-size: 15px;
    }

    main h1 {

        font-size: 50px;
        line-height: 60px;
    }

    main p {
        font-size: 21px;
        line-height: 30px;
        margin-top: 30px;
    }

    .first-section {
        flex-direction: column;
    }

    .button-container {
        width: 100%;
        text-align: center;
    }


    .first-section button {
        font-size: 20px;
        margin-right: 27px;
        padding: 33px 60px;
        margin-top: 50px;

    }

    .first-section button img {
        margin-top: -2px;
        padding-right: 20px;
        width: 23px
    }



    .first-section .img-part {
        margin-top: 0px;
        width: 100%;
        text-align: center;
    }

    .first-section .img-part img {
        float: none;
        width: 71.6vw;
    }
}