main {
    margin: 121px 8.5vw 162px 8.5vw;
}


main h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #E30C40;
}

main h1 {
    margin-top: 13px;

    font-weight: 600;
    font-size: 39px;
    line-height: 50px;
}

main h2 {
    font-weight: 500;
    font-size: 39px;
    line-height: 47px;
    color: #E30C40;
}

main h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;

    letter-spacing: 0.298485px;
}

main h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.1px;
}

main p {
    margin-top: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.first-section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}

.first-section .text-part {
    margin-bottom: 23px;
    flex: 52%;

}


.first-section .img-part {
    margin-top: -40px;
    flex: 48%;

}

.first-section .img-part img {
    float: right;

}

.first-section button {
    margin-top: 18px;
    background: #E30C40;
    border-radius: 8px;
    padding: 17px 29px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    margin-right: 12px;
}

.first-section button img {
    margin-top: -2px;
    background: transparent;
    padding-right: 8px;
}


.second-section {
    margin-top: 160px;
    display: flex;
    flex-direction: row;

}

.second-section .text-part {
    flex: 43%;
    margin-left: 100px;
    margin-top: 52px;
}


.second-section .img-part {
    flex: 74%;
    background: url(../images/landing/second-section-two.svg),
        url(../images/landing/second-section-one.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center, center;
    padding-bottom: 363px;
}

.second-section h5 {
    margin-top: 25px;
}



.second-section input[type="text"] {
    margin-top: 35px;
    border: 1px solid #C4C4C4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 18vw;
    font-size: 12px;
    padding: 11px 18px;
}

.second-section form button {
    position: relative;
    background-color: #E30C40;
    margin-top: 10px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    width: 5vw;
    height: 38px;
    top: 2.8px;
    left: -6px;
    cursor: pointer
}

.second-section form button img {
    width: 28px
}


.third-section {
    margin-top: 156px;
    margin-left: -3vw;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-auto-rows: 298px;
    grid-row-gap: 30px;
    grid-column-gap: 3vw;
}

.third-section .grid-item {
    border-radius: 25px;
    position: relative;
    cursor: pointer;

}

.third-section .grid-item-2 {
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.08);
}

.third-section img {
    margin-top: 35.6px;
    margin-left: 35.3px;
    display: block;
    position: absolute;
}

.third-section .pie-chart {
    margin-top: 26px;
    margin-left: 17px;
    display: block
}

.third-section .vertical-line {
    margin-top: 20px;
    margin-left: 29px;
    height: 27px;
    border-left: 3px solid #E30C40;
    display: inline-block;
    position: relative;
    top: 6px;
}

.third-section h5 {
    display: inline-block;
    margin-top: 100px;
}

.third-section p {
    margin-left: 29px;
}


.forth-section {
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.forth-section h1 {
    color: #E30C40
}

.forth-section p {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */

    letter-spacing: 0.1px;
}

.forth-section .text-part {
    margin-bottom: 23px;
    flex: 52%;

}


.forth-section .img-part {
    margin-top: -40px;
    flex: 48%;

}

.forth-section .img-part img {
    width: 480px;
    margin-left: 40px;
    margin-top: 33px;

}

.forth-section button {
    margin-top: 18px;
    background: #E30C40;
    border-radius: 4px;
    padding: 17px 35px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    margin-right: 12px;
}

.fifth-section {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;

}

.fifth-section .thumbnail {
    width: 29%;
    height: 462.44px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;

}

.fifth-section .thumbnail img {
    border-radius: 30px 30px 0 0;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
}

.fifth-section h3 {
    margin-left: 35px;
    margin-top: 28.5px;
}

.fifth-section p {
    margin-left: 35px;
    width: 70%;
}

.fifth-section .more {
    margin-left: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    margin-top: 30px;
}

.fifth-section .more :hover {
    color: #E30C40;
}

@media (max-width: 1180px) {
    .third-section {
        margin-top: 160px;
        grid-template-columns: 27.5vw 27.5vw 27.5vw;
        grid-auto-rows: 358px;
        grid-row-gap: 40px;
    }

    .third-section p {
        width: 75%
    }
}

@media (max-width: 1080px) {
    main {
        margin: 85px 14.2vw 162px 14.2vw;
    }




    main h6 {
        font-size: 15px;
    }

    main h5 {
        font-size: 26px;
    }

    main h2 {
        font-size: 51px;
    }

    main h1 {

        font-size: 50px;
        line-height: 60px;
    }

    main p {
        font-size: 21px;
        line-height: 30px;
        margin-top: 30px;
    }

    .first-section {
        flex-direction: column;
    }

    .first-section .button-container {
        width: 100%;
        text-align: center;
    }


    .first-section button {
        font-size: 20px;
        margin-right: 27px;
        padding: 33px 60px;
        margin-top: 50px;

    }

    .first-section button img {
        margin-top: -2px;
        padding-right: 20px;
        width: 23px
    }



    .first-section .img-part {
        margin-top: 0px;
        width: 100%;
        text-align: center;
    }

    .first-section .img-part img {
        float: none;
        width: 71.6vw;
    }

    .second-section {
        flex-direction: column-reverse;
    }

    .second-section .text-part {
        width: 100%;
        margin-left: 0;
        margin-bottom: 50px;
    }


    .second-section .img-part {
        width: 71.6vw;
        padding-bottom: 460px;
        background-size: contain;
    }

    .second-section br {
        display: none;
    }

    .second-section input[type="text"] {
        margin-top: 34px;
        border: 1px solid #C4C4C4;
        border-right: none;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
        border-radius: 4px 0 0 4px;
        width: 58.5vw;
        font-size: 12px;
        padding: 17px 18px;
        margin-bottom: 45px;

    }

    .second-section form button {
        width: 8.5vw;
        height: 50px;
        top: 5px;
        left: -4px;
    }

    .second-section form button img {
        width: 35px
    }


    .third-section {
        margin-top: 160px;
        grid-template-columns: 38vw 38vw;
        grid-auto-rows: 458px;
        grid-row-gap: 40px;
    }

    .third-section img {
        margin-top: 56.6px;
        margin-left: 49.3px;
        width: 40px;
    }

    .third-section .pie-chart {
        margin-top: 36px;
        margin-left: 31px;
        width: 82px;

    }


    .third-section h5 {
        margin-top: 177px;
    }

    .third-section p {
        margin-left: 41px;
        width: 65%
    }

    .forth-section {
        flex-direction: column;
    }

    .forth-section .button-container {
        width: 100%;
        text-align: center;
    }


    .forth-section button {
        font-size: 18px;
        margin-right: 27px;
        padding: 25px 48px;
        margin-top: 50px;
        float: left;

    }


    .forth-section .img-part {
        margin-top: 0px;
        width: 100%;
        text-align: center;
    }

    .forth-section .img-part img {
        float: none;
        width: 66vw;
        margin-top: 23px;
    }

    .forth-section p {
        font-size: 34px;
        line-height: 50px;
        letter-spacing: 0.3px;
    }



}